<div class="center-elements">
  <h4><%= @user.name %></h4>
    <div class="image image-md mb-20">
      <% if @user.avatar.attached? %>
        <%= image_tag(@user.avatar, class: "u-max-full-width") %>
      <% else %>
        <%= image_tag(@user.default_avatar, class: "u-max-full-width") %>
      <% end %>
    </div>
  <h5>Wins: <%= @user.wins %>, Losses: <%= @user.losses %>, Win Ratio: <%= @user.win_ratio %></h5>
</div>


<div class="row">
  <div class="six columns">
    <h4>Record Against</h4>
    <% if @matches.present? %>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Opponent</th>
          <th>W</th>
          <th class="text-right">L</th>
          <th class="text-right">Ratio</th>
          <th class="text-right">Odds</th>
        </tr>
      </thead>
      <tbody>
        <% @matches.group_by { |m| m.opponent_of(@user) }.each do |opponent, matches| %>
          <tr>
            <td><%= link_to(opponent.name, user_path(opponent)) %></td>
            <td><%= matches.select { |m| m.winner_id == @user.id }.count %></td>
            <td class="text-right"><%= matches.select { |m| m.winner_id != @user.id }.count %></td>
            <td class="text-right"><%= (matches.select { |m| m.winner_id == @user.id }.count.to_f / matches.length * 100).round %>%</td>
            <td class="text-right"><%= (EloRating.expected_score(@user.elo, opponent.elo) * 100).round %>%</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No matches yet...</p>
  <% end %>
  </div>

  <div class="six columns">
    <h4>Match Results</h4>
    <%= render "matches/list", matches: @paginated_matches, extra_info_type: :elo_delta %>
    <%= paginate @paginated_matches %>
  </div>
</div>
