<div class="row">
  <div class="six columns">
    <h4>Ranking</h4>
    <% if @ranked_users.present? %>
      <table class="u-full-width">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Elo</th>
            <th>W</th>
            <th class="text-right">L</th>
            <th class="text-right">Ratio</th>
            <th class="text-right">Streak</th>
          </tr>
        </thead>
        <tbody>
          <% @ranked_users.each.with_index(1) do |user, rank| %>
            <tr>
              <td style="text-align: center"><%= display_rank(rank, @ranked_users.length) %></td>
              <td><%= link_to(user.name, user) %></td>
              <td><%= user.elo %></td>
              <td><%= user.wins %></td>
              <td class="text-right"><%= user.losses %></td>
              <td class="text-right"><%= user.win_ratio %></td>
              <td class="text-right"><%= user.win_loss_streak %></td>
            </tr>
          <% end %>

          <% if @unranked_users.present? %>
            <tr>
              <td colspan="7">Unranked Players *</td>
            </tr>
            <% @unranked_users.each do |user| %>
              <tr style="opacity: 0.55">
                <td></td>
                <td><%= link_to(user.name, user) %></td>
                <td><%= user.elo %></td>
                <td><%= user.wins %></td>
                <td class="text-right"><%= user.losses %></td>
                <td class="text-right"><%= user.win_ratio %></td>
                <td class="text-right"><%= user.win_loss_streak %></td>
              </tr>
            <% end %>
          <tr>
            <td colspan="7" style="border: none;">
              <span class="text-sm">* in order to be ranked, player must play at least 1 game in the last week and at least 5 games in total</span>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No players in the database.</p>
    <% end %>
  </div>

  <div class="six columns">
    <h4>Slack & Twitch Chat</h4>
    <iframe frameborder="1"
            scrolling="yes"
            id="ranked_fun"
            src="https://www.twitch.tv/embed/ranked_fun/chat"
            height="500">
    </iframe>

    <h4>Last 10 Matches</h4>

    <%= render "matches/list", matches: @matches, extra_info_type: :elo_delta %>

    <% if user_signed_in? %>
      <p>(<%= link_to("view all matches...", matches_path) %>)</p>
    <% end %>
  </div>
</div>

