<h2>Ranking</h2>
<table>
  <thead>
    <th>Rank</th>
    <th>Name</th>
    <th>Elo</th>
  </thead>
  <tbody>
  <% @users.each_with_index do |user, index| %>
    <tr>
      <td><%= index + 1 %>.</td>
      <td><%= user.name %></td>
      <td><%= user.elo %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</ul>

<h2>Past Matches</h2>

<%= render "matches/list", matches: @matches %>

<p>(<%= link_to("view all matches...", matches_path) %>)</p>
