<div class="row">
  <div class="six columns">
    <h2>Ranking</h2>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Elo</th>
          <th>W</th>
          <th>L</th>
          <th>Ratio</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |user, index| %>
          <tr>
            <td><%= index + 1 %>.</td>
            <td><%= user.name %></td>
            <td><%= user.elo %></td>
            <td><%= user.wins %></td>
            <td><%= user.losses %></td>
            <td><%= user.win_ratio %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </ul>
  </div>

  <div class="six columns">
    <h2>Past Matches</h2>

    <%= render "matches/list", matches: @matches %>

    <p>(<%= link_to("view all matches...", matches_path) %>)</p>
  </div>
</div>

