<div class="row">
  <div class="six columns">
    <h4>Ranking</h4>
    <% if @users.present? %>
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Elo</th>
            <th>W</th>
            <th class="text-right">L</th>
            <th class="text-right">Ratio</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each_with_index do |user, index| %>
            <tr>
              <td><%= index + 1 %>.</td>
              <td><%= link_to(user.name, user) %> <%= medal(index, @users.length) %></td>
              <td><%= user.elo %></td>
              <td><%= user.wins %></td>
              <td class="text-right"><%= user.losses %></td>
              <td class="text-right"><%= user.win_ratio %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No players in the database.</p>
    <% end %>
  </div>

  <div class="six columns">
    <h4>Last 10 Matches</h4>

    <%= render "matches/list", matches: @matches, extra_info_type: :elo_delta %>

    <% if user_signed_in? %>
      <p>(<%= link_to("view all matches...", matches_path) %>)</p>
    <% end %>
  </div>
</div>

