<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :player_one_id %>
    <%= form.number_field :player_one_id, id: :match_player_one_id %>
  </div>

  <div class="field">
    <%= form.label :player_two_id %>
    <%= form.number_field :player_two_id, id: :match_player_two_id %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date, id: :match_start_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
