<% if matches.present? %>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>🏆 Winner</th>
        <%= extra_table_th(extra_info_type, "Result") %>
        <th>☠️ Loser</th>
        <th>Date Played</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% matches.each do |match| %>
        <tr>
          <td>
            <%= match.winner.name %>
            <% if extra_info_type %>
              <%= extra_info(is_winner: true, match: match, type: extra_info_type) %>
            <% end %>
          </td>
          <%= extra_table_td(extra_info_type, match.result) %>
          <td>
            <%= match.loser.name %>
            <%= extra_info(is_winner: false, match: match, type: extra_info_type) %>
          </td>
          <td>
            <%= time_ago_in_words(match.created_at).gsub('about', '') %> ago<br />
            <% if user_signed_in? %>
              <% match_link_class = match.comments_count > 0 ? "bold-text" : "" %>
              (<%= link_to("#{match.comments_count} comments", match_path(match), class: match_link_class) %>)
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No matches yet...</p>
<% end %>
