<div class="centered-content text-center">
  <h4><%= @match.winner.name %> has beaten <%= @match.loser.name %></h4>
  <% if !@match.confirmed? %>
    <div class="alerts">
      <p class="alert">
        This match has not been confirmed.<br>
        Please tell <%= @match.player_two.name %> to visit this link and click the confirm button.<br>
        Only <%= @match.player_two.first_name %> will be able to see that button.<br>
        <%= @match.url %>
      </p>
    </div>
  <% end %>

  <div class="row">
    <div class="six columns">
      <div class="centered-content">
        <h5>🏆 Winner</h5>
        <p>
          <div class="image image-sm mb-20">
            <% if @match.winner.avatar.attached? %>
              <% if @match.winner.avatar.attached? %>
                <%= image_tag(@match.winner.avatar, class: "u-max-full-width") %>
              <% else %>
                <%= image_tag('profile.png', class: "u-max-full-width") %>
              <% end %>
            <% end %>
          </div>
          Name: <%= @match.winner.name %><br />
          Elo gained: <span class="green-text"><%= @match.winner_delta %></span><br />
          Rounds Won: <%= @match.winner_rounds_won %>
        </p>
      </div>
    </div>

    <div class="six columns">
      <div class="centered-content">
        <h5>☠️ Loser</h5>
        <p>
          <div class="image image-sm mb-20">
            <% if @match.loser.avatar.attached? %>
                <%= image_tag(@match.loser.avatar, class: "u-max-full-width") %>
              <% else %>
                <%= image_tag('profile.png', class: "u-max-full-width") %>
            <% end %>
          </div>
          Name: <%= @match.loser.name %><br />
          Elo lost: <span class="red-text"><%= @match.loser_delta %></span><br />
          Rounds Won: <%= @match.loser_rounds_won %>
        </p>
      </div>
    </div>
  </div>

  <% if @match.winner_id.blank? && current_user.id == @match.player_two_id %>
    <p>
    Hello <%= current_user.first_name %>, please confirm the match results by clicking the button below.<br />
    If there is an issue with the result please contact the system administrator.
    </p>
    <div class="center-elements">
      <%= button_to "Confirm Match Result", { action: "confirm", confirmation_uuid: @match.confirmation_uuid } %>
    </div>
  <% end %>

  <% if @match.player_one_id == current_user.id && !@match.confirmed? %>
    <div class="center-elements">
      <%= button_to "Delete Match", { action: "destroy" }, method: :delete, data: { confirm: "Are you sure you want to delete this match?" } %>
    </div>
  <% end %>
</div>

<div class="comments-container">
  <div class="row">
    <%= form_with model: @comment, class: "comment-form" do |f| %>
      <%= f.hidden_field :match_id, value: @match.id %>
      <div class="comment-input">
        <%= f.text_field :body, id: "comment-body-input", placeholder: "Say something nice! 😊", class: "u-full-width", required: true %>
      </div>
      <div class="comment-submit">
        <%= f.submit "Add Comment" %>
      </div>
    <% end %>
  </div>

  <div class="row" id="comments-list">
    <% if @comments.present? %>
      <% @comments.each do |comment| %>
        <div class="comment mb-20">
          <div class="commenter"><%= comment.user.name %> <span class="comment-time">(<%= time_ago_in_words(comment.created_at, include_seconds: true) %> ago)</span></div>
          <div class="comment-body"><%= comment.body %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
