<p>
  <strong>Player one:</strong>
  <%= @match.player_one_id %>
</p>

<p>
  <strong>Player two:</strong>
  <%= @match.player_two_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @match.created_at %>
</p>

<% if @match.winner_id.blank? && current_user.id == @match.player_two_id %>
  <p>Hello <%= current_user.first_name %>, please confirm the match results by clicking the button below.</p>
  <%= button_to "Confirm Match Result", { action: "confirm", confirmation_uuid: @match.confirmation_uuid, date: { confirm: "Are you sure the match result is correct?" } } %>
  <p>If the match result is incorrect either <%= @match.player_one.name %> is lying or you are lying.</p>
<% end %>


<%= link_to 'Back', matches_path %>
