<!DOCTYPE html>
<html>
  <head>
    <title>RankedTetris</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1>Tetris</h1>
      <div class="header-link">
        <% if current_user %>
          <%= link_to("New Match", "#") %>
          <%= link_to("Users", "#") %>
          <%= link_to("Matches", "#") %>
          <%= link_to("Logout", destroy_user_session_path, method: :delete) %>
        <% else %>
          <%= link_to("Sign Up", new_user_registration_path) %>
          <%= link_to("Login", new_user_session_path) %>
        <% end %>
      </div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
