<!DOCTYPE html>
<html>
  <head>
    <title>Ranked Tetris</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="center-elements header">
      <h2 class="logo">
        <%= link_to("Ranked Tetris", root_path) %>
      </h2>
      <div class="header-link">
        <% if current_user %>
          <%= link_to("Record Match Result", new_match_path, class: "button button-primary") %>
          <%= link_to("Logout", destroy_user_session_path, method: :delete, class: "button") %>
        <% else %>
          <%= link_to("Sign Up", new_user_registration_path, class: "button small-button") %>
          <%= link_to("Login", new_user_session_path, class: "button-primary") %>
        <% end %>
      </div>
    </div>

    <div class="container">
      <div class="center-elements alerts">
        <% if notice %>
          <p class="notice"><%= notice %> ✅</p>
        <% end %>
        <% if alert %>
          <p class="alert"><%= alert %> ❌</p>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
